/**Main File*/

*, *:before, *:after {
  box-sizing: border-box;
}

body {

  background-color: #ADD8E6;
 /* font-family: 'Titillium Web', sans-serif;
*/  font-size: 75%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.inline-block {
  display: inline-block;
  /*font-family:Font-Open sans Extrabold;*/
  font-size:51px;
  font-open: Sans ExtraBold;
  /*margin: 9px;*/
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.container-small {
  max-width: 400px;
}

.header {
  background:#ADD8E6;
  color: #fff;
  padding: 5px 0;
}

.header a {
color: rgb(255, 255, 255);
text-decoration: none;
font-size: 24px;
font-open :sans condensed;
}

.header-half {
  width: 50%;
  float: left;
}

.header-right {
  padding: 10px 0;
  text-align: right;
}
.header-right a
{
 font-size: 24px;
 /*font-family: 'Open Sans', semibold;*/
 cursor:pointer;
}
.logo-link {
 display: block;
width: 42px;
height: 38px;
background: none repeat scroll 0% 0% #11D8E0;
color: #FFF;
text-decoration: none;
text-align: center;
line-height: 35px;
border-radius: 50%;
border-style: solid;
}

.tag-board {
  font-size: 1em;
  padding: 5px;
}

.button {
  display: inline-block;
  padding: 2px 5px;
 /* background: indianred;*/
  color: #fff;
  font-size: 1.3em;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  color:#40ABCE;
}

.icon-logo {
  color: #fff;
  color: #FFF;
  font-size: 23px;
  font-weight: bold;
}

.logout {
  padding: 2px 5px;
  color: #fff;
  font-size: .7em;
  border-radius: 3px;
  cursor: pointer;
}

.button-add:before {
  content: "+";
  font-weight: bolder;
  padding-right: 5px;
  cursor: pointer;
}

.main {
  padding: 19px 0px 80px;
  position: relative;
  background-color: #66a3b6;
}

.tile {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 242px;
  background: none repeat scroll 0% 0% skyblue;
  padding-bottom: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow:hidden;
  /*color: #fff;
*/}

.tile-header, .tile-footer {
  padding: 0px 8px !important;
}

.tile-header {
  font-size: 28px;
  max-width: 50%;
  margin: 0px auto;
  padding-top: 12px;
  font Open :sans semibold;
}
.time-line
{
  font-open:sans regular;
}
.tile-details {
  height: 75%;
  text-align: center;
  font-size: 3em;
  position: relative;
}

.tile-footer {

 bottom: 1px;
 width: 100%;

}

.b-color-green {
  color: green;
}

.b-color-red {
  color: red;
}

.b-color-yellow {
  color: #DFBA49;
}
.b-color-black
{
 color: black;
}

.b-color-gray {
  color: #8895A9;
}

.footer {
  background:#77adbd;
  color: #fff;
  padding: 5px 0;
  position: relative;
}
/*
.footer-container {
  margin: 0px auto;
}*/

.footer-container a {
  text-decoration: none;
  color: white;
  font-size: 0.85em;
}

.small {
  font-size: 1.5em;
  text-align: center;
  color:black;
}

.small-value {

font-size: 18px;
padding-left: 28px;
color: #2FCECE;
font-open: Sans Regular;
position: absolute;
top: 53%;
left: 26%;

}

.color-grey
{
 color:#ADA2A2;
}

.text-value {

  font-weight: bold;
  -webkit-transform: translate(2%, 69%);
  -moz-transform: translate(2%, 69%);
  overflow:hidden;
  position: relative;
}

.time-line
{
 top: 3%;
}
.time-line:after
{
  content:"min ago";
}
.text-value span {
  font-size: 1.2em;
}

.container-header
{
 max-width: 90%;
}
/* Login css*/


.header
{
 /* max-width: 60%;*/
  margin:0 auto;
  background-color:#76adbd;

}
.header-button
{
  padding: 2px 5px;
  background: none repeat scroll 0% 0% #fff;
  border-radius: 3px;
  cursor: pointer;
  color: blue;
  font-size: 1.2em;
}

.main .tile
{
 background-color:white;
 padding-top: 16px;
}
.header-title
{
 text-align: center;
 color: #40ABCE;
 padding-bottom: 10;
}

.common-container{

 max-width: 700px;
 width:100%;
 padding: 150px;
}

.users
{

 position:absolute;

 margin-left: -11px;
}

.locker
{
 position:absolute;
 margin-left: -11px;
}
body
{
background-color: rgb(118, 173, 189);
}
.common-body
{
  background-color: #ECF0F1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding-bottom:5%;
}
.icon
{

 max-width: 25%;
 margin: 0 auto;
}

.icon1
{
  display: block;
  width: 83px;
  height: 83px;
  background: none repeat scroll 0% 0% #00D5FA;
  text-align: center;
  line-height: 62px;
  border-radius: 50%;
  border-color: #fff;
  border-style: solid;

}

.icon1 p
{
    text-decoration: none #89641A;
    color: #fff;
    margin-top: 10px;
    font-size: 3em;
}

.login-content h1
{
  text-align: center;
  color: #40ABCE;

}

.login-content
{

 text-align: center;
 padding: 8% 40px;

}
.one:before
{
  margin-top:10%;

}

.one{

  padding: 5px 8px;
  margin: 8px 0px;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.2em;
}

.input-fields
{
 margin-bottom: 20px;
 margin-top: 29px;
}
.sign-in
{
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  font-weight: bold;
  margin-top: 8px;
}

.sign-ins
{
outline: 0px none;
font-weight: bold;
background: none repeat scroll 0% 0% #288CA9;;
color: #FFF;
font-size: 1.3em;
border: 0px none;
width: 100%;
border-radius: 5px;
margin-top: 5px;
padding: 6px 15px;
}
.common-header
{
/*
Background-color: #fff;*/
padding-top: 2%;
border-radius: 2%;
padding-bottom: 1%;
}

.login-account{

  text-align: center;
  margin: 0px 0px 20px;
  border-bottom: 1px solid #BDC3C7;
  padding-bottom: 5px;
  font-size: 1.3em;
  color:#2C3E50;
}
.two
{
float: right;
padding-top: 0.6%;
}
.close-search
{
  border-radius: 9px;
}
.email-address
{
 padding: 9px 8px;
 width: 100%;
 font-size: 1.2em;
 border-style: none;
 border-radius: 4px 4px 0px 0px;
 border-bottom-style: inset;
 border-bottom-color: gray;
 border-bottom-width: thin;
}

.password
{
  padding: 6px 8px;
  width: 100%;
  font-size: 1.2em;
  border-style: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 3px;
}
.user
{

}
.lock
{

}
.colore
{
 color:gray;
}
.input-f
{

}
/* Icons fonts */
.fa-long-arrow-up{
  position: relative;
  top: -3px;
}
.fa-long-arrow-down{
  position: relative;
}

.header-inline-block{
display: inline-block;
margin: 9px;
font-size:17px;
}

/* Search box*/

.search-content{

  text-align: center;
  padding: 7% 40px;
}

.close{

  color: #40ABCE;
  height: 30px;
  position: absolute;
  top: -1px;
  right: 3px;
  font-size:2em;
}

.search-find{

 background-color: #BDC3C7;
 border-radius: 3px;
}
.table-data
{
  text-align: center;
/* overflow:hidden;
 float:left;*/
}

.search-button
{
  width:79%;
}
td
{

font-size: 2em;
color:#40ABCE;
text-align: center;
line-height: 2em;
}
tr
{
  border-style: none none inset;
  border-radius: 4px 4px 0px 0px;
  border-bottom: thin inset #808080;
}

th
{

}
.submit-button
{
  background-color: #40ABCE;
  color: #fff;
  width: 20%;
}
.go-button
{
   font-size: 1.5em;
  padding: 3px 24px 7px;
  border: 0px none;
  background-color: #40ABCE;
  width: 20%;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
}
/*table
{
    margin: 0 auto;
}*/
td:nth-child(1)
{
padding: 20px 20px 20px;
}

td:nth-child(2)
{
padding: 20px 20px 20px;
}

td:nth-child(3)
{
padding: 20px 20px 20px;
}

.table-content{

 margin: 0px auto;
 width: 50%;
}

.circular-model
{
  width: 44px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  line-height: 41px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  font-weight: bold;
  padding-top:0px;
  background-color: #40ABCE;
}
.name
{
 color:#2c3e50;
 font-size: 2em;
 text-align:center;

}
.desc
{
 color:#2c3e50;
 text-align: center;
 font-size: 2em;
 text-align:center;
}
tr
{
 margin:0 auto;
}
/*table
{
  max-width:80%;
}*/
th
{
  width:40%;
}
.add
{
 color: #2C3E50;
 text-align: center;
 font-size: 2em;
 text-align:center;

}

.not-found-result
{

 margin:0 auto;
 max-width: 26%;
}
.found-result
{

 margin-top: 1%;
 margin-bottom: 2%;
 margin-left:50px;
}

.result-color
{
  background-color:white;
  font-size:2em;
}

/* Wrapper classes*/

 #modal_wrapper.overlay:before
  {

    content: " ";
    width: 100%; height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,0.7);
  }
  #modal_window
    {
        display:none;
        left: 50%;
        top: 42%;
        padding: 10px 40px;
        z-index: 10;
        position: absolute;
        width: 50%;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        -webkit-transform: translate(-50%, -50%);
        max-height: 500px;
        overflow: auto;
        -moz-transform: translate(-50%,-50%);
    }

    #modal_wrapper.overlay #modal_window
    {
        display: block;
    }


    /*Wrapper class2*/

 #modal_wrapper1.overlay:before
  {

    content: " ";
    width: 100%; height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,0.7);
  }
  #modal_window1
    {
       display: none;
       left: 29%;
       top: 2%;
       padding: 10px 20px;
       border-radius: 10px;
       z-index: 200;
       position: absolute;
       width: 41%;
       background-color: #fff;
       border-radius: 15px;

    }

    #modal_wrapper1.overlay1 #modal_window1
    {
        display: block;
    }

/* */

.image-setting
{
 cursor: pointer;
 position: absolute;
 bottom: 5%;
 left: 174px;
}

.btn1-ok
{
padding: 9px 32px 4px;
}

.asc-sort
{
  position: absolute;
  left: 6%;
  top: 44%;
}

.range
{
 width:59%;
}

.range input::before
{
 content:"Upper";
}
.setting-input
{

}
.common-button
{
  padding: 16px 37px;
}

.position-setting
{
 margin-top:13px;
}

.b1
{
 padding: 6px 35px 8px;
}

.b2
{
 padding: 6px 23px 8px;
}

#not-found
{
  display:none;
}

#found
{
  display: none;
  width:80%;
  margin:0 auto;
}
