/**Main File*/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #F1F1F1;
  font-family: 'Titillium Web', sans-serif;
  font-size: 75%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.inline-block {
  display: inline-block;
  /*margin: 9px;*/
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.container-small {
  max-width: 400px;
}

.header {
  background: #505080;
  color: #fff;
  padding: 5px 0;
}

.header a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
}

.header-half {
  width: 50%;
  float: left;
}

.header-right {
  padding: 10px 0;
  text-align: right;
}

.logo-link {
  display: block;
  width: 40px;
  height: 34px;
  background: none repeat scroll 0% 0% #073154;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
}

.tag-board {
  font-size: 1em;
  padding: 5px;
}

.button {
  display: inline-block;
  padding: 2px 5px;
  background: indianred;
  color: #fff;
  font-size: 1.3em;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

.icon-logo {
  color: #6FD16F;
}

.logout {
  padding: 2px 5px;
  color: #fff;
  font-size: .7em;
  border-radius: 3px;
  cursor: pointer;
}

.button-add:before {
  content: "+";
  font-weight: bolder;
  padding-right: 5px;
}

.main {
  padding: 19px 0px 80px;
  position: relative;
}

.tile {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  background: none repeat scroll 0% 0% skyblue;
  padding-bottom: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.tile-header, .tile-footer {
  padding: 0 5px;
}

.tile-header {
  font-size: 1.65em;
  border-bottom: 1px solid #fff;
  margin: 0px;
  line-height: 1.2;
  padding-top: 5px;
  padding-bottom: 2px;
}

.tile-details {
  height: 75%;
  text-align: center;
  font-size: 3em;
  position: relative;
}

.tile-footer {
  font-size: 1.3em;
  text-align: right;
  border-top: 1px solid #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.b-color-green {
  background-color: #45B6AF;
}

.b-color-red {
  background-color: #F3565D;
}

.b-color-yellow {
  background-color: #DFBA49;
}

.b-color-gray {
  background-color: #8895A9;
}

.footer {
  background: #505080;
  color: #fff;
  padding: 5px 0;
  position: relative;
}
/*
.footer-container {
  margin: 0px auto;
}*/

.footer-container a {
  text-decoration: none;
  color: white;
  font-size: 0.85em;
}

.small {
  font-size: 1.5em;
  text-align: center;
}

.small-value {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  line-height: 1;
}

.text-value {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.text-value span {
  font-size: 1.2em;
}

.container-header
{
 max-width: 90%;
}
/* Login css*/


.header
{
 /* max-width: 60%;*/
  margin:0 auto;

}

.header-title
{
 text-align: center;
 color:#fff;
 padding-bottom: 10;
}

.common-container{

 max-width: 50%;
 padding: 150px;
}

body
{
background-color:#BDC3C7;
}
.common-body
{
  background-color: #ECF0F1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
.icon
{

 max-width: 25%;
 margin: 0 auto;
}

.icon1
{

display: block;
width: 83px;
height: 83px;
background: none repeat scroll 0% 0% #073154;
text-align: center;
line-height: 62px;
border-radius: 50%;

}

.icon1 p
{
    text-decoration: none #89641A;
    color: #1ABC9C;
    margin-top: 10px;
    font-size: 3em;
}

.login-content h1
{
  color:#2C3E50;
  text-align: center;

}

.login-content
{

 text-align: center;
 padding: 8% 40px;

}
.one:before
{
  margin-top:10%;

}

.one{

  padding: 5px 8px;
  margin: 8px 0px;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.2em;
}

.input-fields
{
 margin-bottom: 20px;
 margin-top: 29px;
}
.sign-in
{
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  font-weight: bold;
  margin-top: 8px;
}

.common-header
{

Background-color: #505080;
padding-top: 2%;
border-radius: 2%;
padding-bottom: 1%;
}

.login-account{

  text-align: center;
  margin: 0px 0px 20px;
  border-bottom: 1px solid #BDC3C7;
  padding-bottom: 5px;
  font-size: 1.3em;
  color:#2C3E50;
}


/* Icons fonts */
.fa-long-arrow-up{
  position: relative;
  top: -3px;
}
.fa-long-arrow-down{
  position: relative;
}

.header-inline-block{
display: inline-block;
margin: 9px;
}

/* Search box*/

.search-content{

  text-align: center;
  padding: 7% 40px;
}

.close{

  float: right;
  margin-top: -2%;
  font-size:2em;
}

.search-find{

 background-color: #BDC3C7;
 border-radius: 3px;
}
.table-data
{
  text-align: center;
/* overflow:hidden;
 float:left;*/
}

.search-button
{
  width:53%;
}
li
{

font-size: 2em;
display: inline-block;
color:indianred;
max-width: 100%;
padding-top: 18px;
}

.go-button
{
  font-size: 1.5em;
  padding: 2px 23px 3px;
}
li:nth-child(n+1)
{
  -webkit-transform: translate(-8%);
   width:25%;
   border-style: outset;
}

li:nth-child(2n+1)
{
  -webkit-transform: translate(-8%);
  width:25%;
 border-style: outset;
}

li:nth-child(3n+1)
{
  width: 25%;
 -webkit-transform: translate(-8%);
border-style: outset;
}

.table-content{

 margin: 0px auto;
 max-width:95%;
 padding-bottom: 3%;
}

.circular-model
{
  width: 40px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  font-weight: bold;
  padding-top:0px;
}
.name
{
 color:#2c3e50;

}
.desc
{
 color:#2c3e50;
}
.add
{
 color:#2c3e50;

}
